# For Use in MinIO Training Labs
# User Variables
HOSTIP=YOUR-HOST-IP-ADDRESS
DOMAIN_NAME=example.com # Do not include http:// or https:// and optionally replace example.com with your domain name
USERNAME=YOUR-USERNAME
GLOBAL_PASSWORD=YOUR-COMPLEX-PASSWORD
CODE_SERVER_USER_PATH=~/code-server

# System Variables - Do not change unless the repo is updated with new values
BASE_STORAGE_PATH=/minio
K3D_Version=v5.4.9
K3S_Version=v1.25.8+k3s1
RANCHER_VERSION=v2.7.2
CODE_SERVER_VERSION=4.10.1
DOCKER_VERSION=23.0.3
KUBECTL_VERSION=v1.27.0
K9S_VERSION=v0.27.3